Repository voxpupuli/puppet-fetchcrl, pull requests merged in 2018-12, with the labels that each got.

#46 General code modernisation - assorted bugfixes.
  .fixtures.yml
  manifests/ca.pp
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/service.pp
  metadata.json
  spec/classes/init_spec.rb
  spec/defines/ca_spec.rb
  templates/fetch-crl-anchor.conf.epp
  templates/fetch-crl-anchor.conf.erb
  templates/fetch-crl.conf.epp
  templates/fetch-crl.conf.erb
Labels: backwards-incompatible, bug, enhancement

#48 modulesync 2.3.1
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#47 New randomcron parameter, random offset of cron
  .fixtures.yml
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/fetchcrl_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#49 Prepare 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#50 modulesync 2.4.1
  .msync.yml
  .travis.yml
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
