Repository voxpupuli/puppet-fetchcrl, pull requests merged in 2019-12, with the labels that each got.

#57 Remove fictitious runatboot from docs
  manifests/init.pp
Labels: docs

#59 Give examples headings
  manifests/ca.pp
  manifests/init.pp
Labels: docs

#58 Release 4.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#60 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#61 modulesync 2.10.0
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync
