Repository voxpupuli/puppet-fetchcrl, pull requests merged in 2021-09, with the labels that each got.

#79 Support hash of fetchcrl::ca as parameter
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/fetchcrl_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#80 modulesync 4.2.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .sync.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/acceptance/fetchcrl_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/support/acceptance/prepare_host.rb
Labels: modulesync

#81 Release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
