Repository voxpupuli/puppet-fetchcrl, pull requests merged in 2021-03, with the labels that each got.

#71 Drop Puppet 5 and CentOS 6 Support
  .fixtures.yml
  manifests/init.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#72 Switch from http to https for yum repository
  manifests/init.pp
Labels: enhancement

#73 New carepo_gpgkey parameter
  REFERENCE.md
  files/GPG-KEY-EUGridPMA-RPM-3
  manifests/init.pp
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: enhancement

#74 Add Ubuntu 18.04, 20.04 and Debian 10 support
  .fixtures.yml
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  metadata.json
  spec/acceptance/fetchcrl_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#70 Add inet6glue flag configuration
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  spec/acceptance/fetchcrl_spec.rb
  spec/classes/init_spec.rb
  templates/fetch-crl.conf.epp
Labels: enhancement

#75 Support Puppet 7
  metadata.json
Labels: enhancement

#76 Documentation Corrections
  .sync.yml
  Gemfile
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/service.pp
Labels: docs

#77 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
