Repository voxpupuli/puppet-fetchcrl, pull requests merged in 2023-08, with the labels that each got.

#96 Add AlmaLinux/Rocky/OracleLinux support
  metadata.json
  spec/classes/init_spec.rb
  spec/support/acceptance/prepare_host.rb
Labels: enhancement

#97 Release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#98 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#99 Improve English of README
  README.md
Labels: docs
