Repository voxpupuli/puppet-fetchcrl, pull requests merged in 2024-02, with the labels that each got.

#102 puppetlabs/apt: Allow 9.x
  metadata.json
Labels: enhancement

#103 Drop Debian 10 support
  metadata.json
Labels: backwards-incompatible

#104 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#106 Add support for Debian 12
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  metadata.json
Labels: enhancement

#109 Fix missing docs and simplify period_method check
  REFERENCE.md
  manifests/init.pp
Labels: docs

#107 Release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
